<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <div class="error2">
          <ng-container *ngFor="let validation of validation_messages.fname">
            <div
              class="error-message"
              *ngIf="
                profiledetail.get('fname').hasError(validation.type) &&
                (profiledetail.get('fname').dirty ||
                  profiledetail.get('fname').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.lname">
            <div
              class="error-message"
              *ngIf="
                profiledetail.get('lname').hasError(validation.type) &&
                (profiledetail.get('lname').dirty ||
                  profiledetail.get('lname').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.email">
            <div
              class="error-message"
              *ngIf="
                profiledetail.get('email').hasError(validation.type) &&
                (profiledetail.get('email').dirty ||
                  profiledetail.get('email').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.zip">
            <div
              class="error-message"
              *ngIf="
                profiledetail.get('zip').hasError(validation.type) &&
                (profiledetail.get('zip').dirty ||
                  profiledetail.get('zip').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.city">
            <div
              class="error-message"
              *ngIf="
                profiledetail.get('city').hasError(validation.type) &&
                (profiledetail.get('city').dirty ||
                  profiledetail.get('city').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.state">
            <div
              class="error-message"
              *ngIf="
                profiledetail.get('state').hasError(validation.type) &&
                (profiledetail.get('state').dirty ||
                  profiledetail.get('state').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.country">
            <div
              class="error-message"
              *ngIf="
                profiledetail.get('country').hasError(validation.type) &&
                (profiledetail.get('country').dirty ||
                  profiledetail.get('country').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="step == 1">
    <form [formGroup]="profiledetail">
      <ion-row>
        <ion-col size="12">
          <h3>Complete your profile.</h3>
          <p>Please fill in all forms with your data</p>
        </ion-col>
        <ion-col offset="3" size="9" class="ion-text-center">
          <div class="logodiv" (click)="UploadOption()">
            <ion-ripple-effect></ion-ripple-effect>
            <img
              [src]="isPicture ? Picture : '../../assets/camerawithtext.svg'"
            />
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-label>First Name</ion-label>
          <ion-input
            type="text"
            placeholder="first name"
            formControlName="fname"
          ></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-label>Last Name</ion-label>
          <ion-input
            type="text"
            placeholder="last name"
            formControlName="lname"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>Email</ion-label>
          <ion-input
            type="email"
            placeholder="email"
            formControlName="email"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>Address Line</ion-label>
          <ion-input
            type="text"
            placeholder="address line"
            formControlName="address"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>Zip Code</ion-label>
          <ion-input
            type="tel"
            placeholder="zip code"
            formControlName="zip"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>City</ion-label>
          <ion-input
            type="text"
            placeholder="city"
            formControlName="city"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>State</ion-label>
          <ion-input
            type="text"
            placeholder="state"
            formControlName="state"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>Country</ion-label>
          <ion-item lines="none">
            <ion-select
              slot="end"
              placeholder="country"
              formControlName="country"
            >
              <ion-select-option
                *ngFor="let c of countries"
                value="{{ c.code }}"
                >{{ c.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button
            class="authbtn"
            color="primary"
            (click)="continue()"
            shape="round"
          >
            <ion-ripple-effect></ion-ripple-effect> CONTINUE
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-grid *ngIf="step == 2">
    <form [formGroup]="businessDetails">
      <ion-row>
        <ion-col size="12">
          <h3>Complete your business profile.</h3>
          <p>Please fill in all forms with your business data</p>
        </ion-col>
        <ion-col offset="3" size="9" class="ion-text-center">
          <div class="logodiv" (click)="UploadOption()">
            <ion-ripple-effect></ion-ripple-effect>
            <img
              [src]="
                isBusinessPicture
                  ? BusinessPicture
                  : '../../assets/camerawithtext.svg'
              "
            />
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-label>Business Name</ion-label>
          <ion-input
            formControlName="bname"
            placeholder="enter business name"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>Business License Number</ion-label>
          <ion-input
            formControlName="blnumber"
            placeholder="enter business license number"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>About Business</ion-label>
          <ion-textarea
            formControlName="bdetails"
            placeholder="enter business details"
          >
          </ion-textarea>
        </ion-col>
        <ion-col size="12">
          <ion-label>Address Line</ion-label>
          <ion-textarea formControlName="baddress" placeholder="enter Address">
          </ion-textarea>
        </ion-col>
        <ion-col size="12">
          <ion-item class="checkboxitem">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label> same as personal Address </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-label>Zip Code</ion-label>
          <ion-input
            type="tel"
            placeholder="zip code"
            formControlName="bzip"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>City</ion-label>
          <ion-input
            type="text"
            placeholder="city"
            formControlName="bcity"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>State</ion-label>
          <ion-input
            type="text"
            placeholder="state"
            formControlName="bstate"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label>Country</ion-label>
          <ion-item lines="none">
            <ion-select
              slot="end"
              placeholder="country"
              formControlName="bcountry"
            >
              <ion-select-option
                *ngFor="let c of countries"
                value="{{ c.code }}"
                >{{ c.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-button
            class="authbtn"
            color="primary"
            (click)="continue()"
            shape="round"
          >
            <ion-ripple-effect></ion-ripple-effect> CONTINUE
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-grid *ngIf="step == 3">
    <ion-row class="logo">
      <ion-col size="12">
        <h3>Upload KYC documents</h3>
        <p>Please fill in your KYC data.</p>
      </ion-col>
      <ion-col size="12" style="margin-top: 5vw;">
        <ion-label>Business Registration Certificate</ion-label>
        <ion-row class="rowsection">
          <ion-col size="6" class="ion-text-right">
            <ion-button mode="ios"class="smallbtn" shape="round" fill="outline" (click)="openCamera(1,3)">
              <ion-icon name="camera" slot="start"></ion-icon>
              Take Photo</ion-button
            >
          </ion-col>
          <ion-col size="6" >
            <ion-button mode="ios"class="smallbtn" shape="round" fill="outline" (click)="openCamera(2,3)">
              <ion-icon name="image" slot="start"></ion-icon>
              choose file</ion-button
            >
          </ion-col>
          <ion-col size="12" *ngIf="regcertificate.length>0">
            <div *ngFor="let image of regcertificate;  let i = index;"  class="kycimagediv">
              <img src={{image.url}} alt="">
              <ion-icon class="crossbtn" name="close" (click)="removeItem(i,1)"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12">
            <hr>
          </ion-col>
        </ion-row>
        <ion-label>Business Licence Number</ion-label>
        <ion-row class="rowsection">
          <ion-col size="6" class="ion-text-right">
            <ion-button mode="ios"class="smallbtn" shape="round" fill="outline" (click)="openCamera(1,4)">
              <ion-icon name="camera" slot="start"></ion-icon>
              Take Photo</ion-button
            >
          </ion-col>
          <ion-col size="6" >
            <ion-button mode="ios"class="smallbtn" shape="round" fill="outline" (click)="openCamera(2,4)">
              <ion-icon name="image" slot="start"></ion-icon>
              choose file</ion-button
            >
          </ion-col>
          <ion-col size="12" *ngIf="licencenumber.length>0">
            <div *ngFor="let image of licencenumber; let i = index;" class="kycimagediv">
              <img src={{image.url}} alt="">
              <ion-icon class="crossbtn" name="close" (click)="removeItem(i,2)"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12">
            <hr>
          </ion-col>
        </ion-row>
        <ion-label>Business Owner Address Proof</ion-label>
        <ion-row class="rowsection">
          <ion-col size="6" class="ion-text-right">
            <ion-button mode="ios"class="smallbtn" shape="round" fill="outline" (click)="openCamera(1,5)">
              <ion-icon name="camera" slot="start"></ion-icon>
              Take Photo</ion-button
            >
          </ion-col>
          <ion-col size="6" >
            <ion-button mode="ios"class="smallbtn" shape="round" fill="outline" (click)="openCamera(2,5)">
              <ion-icon name="image" slot="start"></ion-icon>
              choose file</ion-button
            >
          </ion-col>
          <ion-col size="12" *ngIf="addressproof.length>0">
            <div  *ngFor="let image of addressproof; let i = index;"  class="kycimagediv">
              <img src={{image.url}} alt="">
              <ion-icon class="crossbtn" name="close" (click)="removeItem(i,3)"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="12">
            <hr>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button
          class="authbtn"
          color="primary"
          (click)="saveDetails()"
          shape="round"
        >
          <ion-ripple-effect></ion-ripple-effect> CONTINUE
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
