<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form [formGroup]="loginForm">
      <ion-row class="logo">
        <ion-col offset="4" size="8" class="ion-text-center">
          <div class="logodiv">
            <img src="../../assets/shapes.svg" />
          </div>
        </ion-col>
        <ion-col size="12" class="ion-text-center headings">
          <h3>
            Welcome!
          </h3>
          <p>
            Please enter your phone number for us to send a verification code.
          </p>
          <div class="ion-text-center">
            <img style="height:15vw; margin: 3vw;" src="../../assets/Phone.svg" alt="" />
          </div>
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <ion-item class="input-structure" lines="none">
            <ion-select 
              formControlName="countryform"
            >
              <ion-select-option selected
                *ngFor="let c of countries; let i = index"
              >
                {{ c.name }}</ion-select-option
              >
            </ion-select>
            <ion-label color="primary">{{ country.dial_code }}</ion-label>
            <ion-input
              placeholder="Phone Number"
              formControlName="mobile"
              maxLength="10"
              type="tel"
            ></ion-input>
          </ion-item>
          <div class=" error2">   
            <ng-container *ngFor="let validation of validation_messages.countryform">
              <div class="error-message" *ngIf="loginForm.get('countryform').hasError(validation.type) && (loginForm.get('countryform').dirty || loginForm.get('countryform').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
            <ng-container *ngFor="let validation of validation_messages.mobile">
              <div class="error-message" *ngIf="loginForm.get('mobile').hasError(validation.type) && (loginForm.get('mobile').dirty || loginForm.get('mobile').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12" class=" ion-text-center headings">
          <ion-button
            [disabled]="!loginForm.valid"
            class="authbtn"
            (click)="login()"
            routerDirection="forward"
            [ngStyle]="{
              'background-color': loginForm.valid
                ? 'var(--theme-color)'
                : 'var(--disbale-color)'
            }"
          >
            <ion-ripple-effect></ion-ripple-effect> SIGN IN
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
