// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #08cebb;
  --ion-color-primary-rgb: 8, 206, 187;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #07b5a5;
  --ion-color-primary-tint: #21d3c2;

  --ion-color-secondary: #cb0000;
  --ion-color-secondary-rgb: 203, 0, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #b30000;
  --ion-color-secondary-tint: #d01a1a;

  --ion-color-tertiary: #626161;
  --ion-color-tertiary-rgb: 98, 97, 97;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #565555;
  --ion-color-tertiary-tint: #727171;

  --ion-color-success: #b4b4b4;
  --ion-color-success-rgb: 180, 180, 180;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #9e9e9e;
  --ion-color-success-tint: #bcbcbc;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //custom variables
  --theme-color: #08cebb;
  --theme-color-danger: #cb0000;
  --font-color: #626161;
  --theme-font: 'Poppins', sans-serif;
  --disbale-color: #626161;
  //global css
  ion-item {
    --padding-start: 0px;
  }
  ion-select{
    text-align: left;
    width: 100%;
    max-width: 100%;
    font-family: var(--theme-font);
    color: var(--font-color);
    padding: 3px;
  }
  .logo {
    .logodiv {
      width: 30vw;
      height: 30vw;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .headings {
      h3,
      p {
        font-family: var(--theme-font);
        color: var(--font-color);
        padding: 0vw 8vw;
        font-size: 4.5vw;
      }
    }
  }
  .input-structure {
    border: 1px solid var(--font-color);
    border-radius: 10px;
    padding: 5px 0px;
    margin: 0vw 6vw;
    ion-select {
      font-family: var(--theme-font);
      color: var(--theme-color);
    }
    ion-input {
      font-family: var(--theme-font);
      color: var(--font-color);
      font-family: "open sans", sans-serif;
      font-weight: 500;
    }
  }
  .authbtn {
    --background: transparent;
    margin-top: 5vw;
    border-radius: 8vw;
    --border-radius: 8vw;
    width: 40vw;
    font-size: 5vw;
    font-family: var(--theme-font);
    height: 12vw;
  }

  //validation message

  .error2 {
    margin: 2vw 6vw;
    margin-top: 5vw !important;
    text-align: left;
    padding: 2vw 0vw;
    .error-message {
      font-size: 1em;
      color: var(--theme-color-danger);
      font-family: var(--theme-font);
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: 0.5px;
    }
  }
 ion-title, ion-header, ion-toolbar{
   color:var(--theme-color);
   font-family: var(--theme-font);
   font-weight: 500;
   z-index: 999;
 }
 ion-button:focus {
  outline:none !important;
 }

 ion-tab-bar {  
  height: 15vw;
  
  ion-button{
    height: 14vw;
    width: 14vw;
  }
  ion-icon{
    z-index: 99;
    position: fixed;
    font-size: 10vw;
  }
}
--ion-font-family:var(--theme-font);
--ion-text-color: var(--font-color);
}
