


.input-structure{
    border: 1px solid var(--font-color);
    border-radius: 10px;
    padding: 2px 0px;
    margin: 0vw 6vw;
    ion-select{
        font-family: var(--theme-font);
        color: var(--theme-color);
        width: auto !important;
    }
    ion-input{
        font-family: var(--theme-font);
        color: var(--font-color);
        font-family: "open sans",sans-serif;
        font-weight: 500;
    }
}
.terms{

    ion-item{
        display: table-cell;
        vertical-align: middle;
    }

    margin: 3vw 6vw;
    ion-checkbox{
        width: 6vw;
        height: 6vw;
        margin: 0px;
    }
    p{
        font-family: var(--theme-font);
        font-size: 3.5vw;
        color: var(--font-color);
    }
    span{
        text-decoration: underline;
        color: var(--theme-color);
    }
    span:focus {
        outline: 0;
    }
}
.already{
    color:var(--font-color);
    font-family: var(--theme-font);
}

