<ion-content>
  <ion-grid> 
    <ion-row class="logo">
      <ion-col offset="4" size="8" class="ion-text-center">
        <div class="logodiv">
          <img src="../../assets/shapes.svg">
        </div>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
          <ion-row class="authbtns">
            <ion-col size="6" class="ion-text-center">
              <ion-button mode="ios"class="authbtn" routerLink="/signup" routerDirection="forward" color="primary" shape="round"> <ion-ripple-effect></ion-ripple-effect> SIGN UP </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-button mode="ios"class="authbtn" color="primary" routerLink="/login" routerDirection="forward" shape="round"> <ion-ripple-effect></ion-ripple-effect> SIGN IN </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
